.project-images{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 500px);
    display: grid;
    margin-left: 40px;
    gap: 50px;
   
}

.project-images img{
    width: 550px;
    height: 500px;
    border: 1px solid rgb(59, 112, 83);
    border-radius: 10px;
}

.project-images img:hover{
    transform: scale(1.07);
    transition: ease-in;
    border: 1px solid orangered;
    
}