

*{
    margin: 0;
    padding: 0;
}

#skills{
    margin: auto;
    width: 70%;
}


#skills:hover{
    border-radius: 40%;
    cursor: pointer;
}

#skill_heading{
    text-align: center;
}

#yes h3{
    background: #7865ff;
    color: aliceblue;
    height: 45px;
    padding: 10px;

}

.imgs{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 160px);
    display: grid;
    background: rgb(138, 146, 153);
    padding: 10px;
    
  
}

.imgs img{
    width: 120px;
    height: 120px;
    margin: 0;
    border-radius: 30px;
    background-color: blanchedalmond;
    
}

.imgs img:hover{
    transform: scale(1.08);
    transition: 1s ease-in;
    cursor: pointer;
}

@media screen and (max-width:479px)
{
    #skills{
        width: 100%;
        margin: auto;
    }

    #yes{
        width: 100%;
    }

    .imgs img{
        width: 40px ;
        height: 40px;
    }
}

@media screen and (max-width:912px)
{
    #skills{
        width: 100%;
        margin: auto;
    }

    .imgs img{
        width: 70px;
        height: 70px;
    }
}



