


.stats-header{
    margin-left: 150px;
    margin-top: 50px;
    
}

.stat-1{
    border: 1px solid orange;
    border-radius: 8px;
    height: 200px;
    background-color: black;
    
}



.stat-2{
    border: 1px solid red;
    border-radius: 8px;
    margin-left: 30px;
}

.stat-3{
   margin-top: 50px;
   margin-left: 250px;
   border-radius: 8px;
}