


.stats-header{
    margin-left: 150px;
    margin-top: 50px;
    
}

.stat-1{
    border: 1px solid whitesmoke;
    border-radius: 8px;
    height: 200px;
    
    
}



.stat-2{
    border: 1px solid whitesmoke;
    border-radius: 8px;
    margin-left: 30px;
}

.stat-3{
   margin-top: 50px;
   margin-left: 250px;
   border-radius: 8px;
}

@media screen and (max-width:479px)
{
    .stats-header{
        display: grid;
        margin: auto;
       
        
    }

    .stat-1, .stat-2, .stat-3{
        width: fit-content;
        margin: 10px 0px 0px 0px;
        height: fit-content;

    }
}

@media screen and (max-width:900px)
{
    .stats-header{
        display: grid;
        margin: auto;
       
        
    }

    .stat-1, .stat-2, .stat-3{
        width: 100%;
        margin: 10px 0px 0px 0px;
        height: fit-content;

    }
} 