.c {
  height: 90vh;
  background: blanchedalmond;
}

.c-bg {
  width: 20px;
  height: 90%;
  background: #a39cd6;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
  gap: 500px;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-title {
  font-size: 60px;
  width: 80%;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 30px 0px;
  font-weight: 300;
  width: 70%;
}

.c-icon {
  width: 30px;
  margin-right: 20px;
  height: 30px;
}

form {
  margin-top: 30px;
  width: 50%;
}

input {
  width: 300px;
  margin-top: 10px;
  padding-left: 4px;
}

textarea {
  margin: 10px 0px;

  font-size: 15px;
  width: 300px;
  padding-left: 4px;
}

button {
  padding: 6px;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
  background: rgb(184, 160, 207);
}

p{
    font-size: 20px;
}

button:hover {
  color: #7865ff;
  background: rgb(139, 238, 108);
}

#contact-header {
  margin-top: 100px;
  text-align: center;
  background: #7865ff;
  width: 100%;
  padding: 10px;
}

.icons {
  width: 30px;
  height: 30px;
  /* margin-left: 20px; */
}

.icons:hover {
  transform: scale(1.08);

  border-radius: 8px;
}


 @media all and (max-width: 900px){
  
  .c{
    background: white;
    height: 55vh;
   
  }
  
  .c-bg{
    height: fit-content;
  }
  .c-wrapper{
    gap: 0px;
    
    /* margin-left: 50px; */
  }
  p{
    font-size: 25px;
    
  }
  input{
    font-size: 22px;
  }

  textarea{
    font-size: 22px;
  }
   
  #contact-header{
    width: 100%;
   }



  
} 

@media screen and (max-width:479px){


  #contact-header{
    width: 100%;
   }

  .c-wrapper{
   margin: auto;
   display: grid;
   gap: 3px;
  }
  .c{
    background: white;
    height: fit-content;
   
  }

  .c-bg{
    height: fit-content;
  }

  .c-right{
   margin: auto;
   
  }

  
  input{
    font-size: 25px;
    border: 1px solid;
    margin-left: -80px;
  }

  textarea{
    font-size: 25px;
    border: 1px solid;
    margin-left: -80px;
  }

 

  
  
}

@media screen and (max-width:900px)
{
  #contact-header{
    width: 80%;
   }

  .c-wrapper{
   margin: auto;
   
   gap: 0px;
  }

  .c-bg{
    height: fit-content;
  }

  .c{
    height: fit-content;
  }

  .c-right{
    margin: auto;
  }
}