


.c-wrapper {
  padding: 50px;
  display: flex;
  gap: 400px;
}


.c-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.c-title {
  font-size: 60px;
  width: 80%;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 30px 0px;
  font-weight: 300;
  width: 70%;
}

.c-icon {
  width: 30px;
  margin-right: 20px;
  height: 30px;
}



input {
  width: 400px;
  margin-top: 10px;
  padding-left: 10px;
  border: none;
  height: 30px;
  border-radius: 4px;
}

textarea {
  margin: 10px 0px;
  border-radius: 4px;
  font-size: 15px;
  width: 400px;
  padding-left: 4px;
}

button {
  padding: 6px;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
  
}

p{
    font-size: 20px;
    margin-left: -100px;
}

button:hover {
  color: black;
  /* background: rgb(139, 238, 108); */
  background: lightgray;
}

#contact-header {
  margin-top: 40px; 
  text-align: center;
  background-color: #888686;
  width: 100%;
  padding: 10px;
}

.icons {
  width: 30px;
  height: 30px;
 margin-left: 20px;
}

.icons:hover {
  transform: scale(1.08);

  border-radius: 8px;
}


 @media all and (max-width: 900px){
  
  .c{
    background: white;
    height: 55vh;
   
  }
  
  .c-bg{
    height: fit-content;
  }
  .c-wrapper{
    gap: 0px;
  
  }
  p{
    font-size: 25px;
    
  }
  input{
    font-size: 22px;
    border: 1px solid;
  }

  textarea{
    font-size: 22px;
  }
   
  #contact-header{
    width: 100%;
   }



  
} 

@media screen and (max-width:500px){


  #contact-header{
    width: 100%;
   }

  .c-wrapper{
    display: grid;
    width: 100%;
    margin: auto;
  }
  .c{
    background: white;
    height: fit-content;
   /* border: 1px solid blue; */
  }

  .c-bg{
    height: fit-content;
  }

  

  
  input{
    font-size: 25px;
    border: 1px solid;
    width: 250px;
    
  }

  textarea{
    font-size: 25px;
    border: 1px solid;
    width: 250px;
  }
  p{
    margin-top: 30px;
  }
 

  
  
}

@media screen and (max-width:900px)
{
  #contact-header{
    width: 100%;
   }

  .c-wrapper{
   margin: auto;
   
   gap: 0px;
  }

  input{
    font-size: 25px;
    border: 1px solid;
    width: 250px;
    
  }

  textarea{
    font-size: 25px;
    border: 1px solid;
    width: 250px;
  }


  .c-bg{
    height: fit-content;
  }

  .c{
    height: fit-content;
    
  }

  .c-right{
    margin: auto;
  }
}