

.header{
    
    width: 100%;
    height: 70px;
    line-height: 70px;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1;
     background-color: lightgrey;
     border-bottom: 1px solid salmon;
  
}



.logo h3{
    font-size: 1.3rem;
    font-weight: bold;
    color: #3131cf;
    
}

.nav-list{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    padding: 23px;
    color: black;
   
}

.nav-item a{
    font-weight: 400;
    text-decoration: none;
    transition: .3s;
}

.nav-item a:hover{
    color: rgb(22, 16, 14);
}

.nav-item a{
    color: rgb(218, 22, 22);
    padding-top: 2px;
    font-size: large;
}

.header-shrink{
    background: rgb(252, 179, 179);
    box-shadow: 2px 2px 4px -2px #7765ffbd;
}

.btn{
    background-color:  rgb(243, 146, 146);
    margin-bottom: 15px;
    

}

.btn:hover{
    background:  rgb(173, 235, 80);
    border-radius: 10px;
   
}

