

.header{
    
    width: 100%;
    height: 70px;
    line-height: 70px;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1;
     background-color: lightgrey;
  
}



.logo h3{
    font-size: 1.3rem;
    font-weight: bold;
    color: #7865FF;
}

.nav-list{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    padding: 20px;
    color: black;
}

.nav-item a{
    font-weight: 400;
    text-decoration: none;
    transition: .3s;
}

.nav-item a:hover{
    color: orangered;
}

.header-shrink{
    background: #132347;
    box-shadow: 2px 2px 4px -2px #7765ffbd;
}

.btn{
    background-color: rgb(255, 194, 194);
}

.btn:hover{
    background: rgb(148, 224, 178);
}

