.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #888686;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.logo h3 {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  text-align: left;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  padding: 23px;
  color: black;
}

.nav-item a {
  font-weight: 400;
  text-decoration: none;
  transition: 0.3s;
}

.nav-item a:hover {
  border: 1px solid rgb(248, 151, 151);
  padding: 2px 2px 2px 2px;
}

.nav-item a {
  color: white;
  padding-top: 2px;
  font-size: large;
  font-weight: 600;
}

.btn {
  background-color: rgb(238, 232, 232);
}

.btn:hover {
  background-color: #585656;
  color: white;
}

@media screen and (max-width: 479px) {
  .header {
    width: 100%;
  }

  .logo h3 {
    margin: auto;
  }

  /* .navBar{
        width: 100%;
        /* border: 1px solid red; */

  /* .nav_menu{
        width: 100%;
        border: 1px solid red;
    } */

  .nav-list {
    width: 100%;
  }

  .btn {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .header {
    width: 100%;
  }

  .logo h3 {
    display: none;
  }
}
