
section{
    background: lightgrey;

}
#About_section {
    display: flex;
    margin-top: 0px;
    gap: 100px;
    width: 100%;
    
}

#apna_image img
{
    width: 400px;
    height: 500px;
    border-radius: 20%;
    margin-left: 30px;
    
}

#apna_image img:hover{
    cursor: pointer;
    
  }

#about_header{
    text-align: center;
    margin-top: 40px;
    background-color: #888686;
    padding: 10px 5px 10px 5px;
    
} 



#intro{
    padding-top: 20px;
    width: 70%;
    text-align: justify;
    margin: auto;
    font-size: 20px;
   
}

.interests{
    text-align: center;
    margin-top: 10px;
    
    
}



.interest_IMG{
    width: 35px;
}

.interest_IMG:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
    cursor: pointer;
}


@media screen and (max-width:479px)
{
    #About_section{
        width: 100%;
        display: grid;
    }

    #skill_header{
        width: 100%;
    }

    #apna_image img{
        width: 100%;
        margin: auto;
    }

    #about_header{
        width: 100%;
    }

    #intro{
        width: 100%;
        margin-top: 0;
    }
}

@media screen and (max-width:900px)
{
    #About_section{
        width: 100%;
        display: grid;
        margin: auto;
    }

    #apna_image img{
        text-align: center;
       
        
        
    }

    #skill_header{
        width: 100%;
    }


}
