body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.primary-button{
  color: black;
  border: 2px solid linen;
  background-color: rgb(160, 209, 252);
  border-radius: 8px;
  font-weight: bold;
  padding: 8px;
}

.primary-button:hover{
  color: aliceblue;
  background-color: rgb(240, 189, 95);
}


